node-red.json
[{"id":"66865044.07da4","type":"tab","label":"WA handler","disabled":false,"info":""},{"id":"5dce6546.56326c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"b77173ab.95c43","type":"tab","label":"Twilio","disabled":false,"info":""},{"id":"50d2994b.78f7a8","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"dae90495.297598","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"11df8f38.b6cff1","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"c61c2356.009f2","type":"ui_group","z":"","name":"Telefon Simulator","tab":"e52a6c74.98a88","order":2,"disp":false,"width":"6","collapse":false},{"id":"e52a6c74.98a88","type":"ui_tab","z":"","name":"Demos","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f5d7d3f5.a3e45","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1a257440.41059c","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"a0281da3.e1de9","type":"http in","z":"66865044.07da4","name":"","url":"/wahandler","method":"get","upload":false,"swaggerDoc":"","x":109,"y":60,"wires":[["59240bdd.6d5364"]]},{"id":"59240bdd.6d5364","type":"switch","z":"66865044.07da4","name":"request","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"time","vt":"str"},{"t":"eq","v":"start_call","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":293.5,"y":133,"wires":[["354341d7.a1a78e"],["3d42c4a0.3bb2ac"],["78c3b30e.9f9b8c"]]},{"id":"a6ebe8c0.2818b8","type":"http response","z":"66865044.07da4","name":"","statusCode":"","headers":{},"x":1061,"y":292,"wires":[]},{"id":"78c3b30e.9f9b8c","type":"change","z":"66865044.07da4","name":"don't understand request","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"das verstehe ich nicht","tot":"str"},{"t":"set","p":"payload.result","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":615.5,"y":294,"wires":[["a6ebe8c0.2818b8"]]},{"id":"354341d7.a1a78e","type":"http request","z":"66865044.07da4","name":"get time","method":"GET","ret":"txt","paytoqs":false,"url":"https://hackathon-jps.eu-de.mybluemix.net/time","tls":"","proxy":"","authType":"basic","x":508,"y":130,"wires":[["39c56d7a.6f8792"]]},{"id":"83bd239c.f831f","type":"comment","z":"66865044.07da4","name":"receive request from Cloud Functions web action","info":"","x":206.5,"y":22,"wires":[]},{"id":"dc1c5ad5.e8ab28","type":"comment","z":"66865044.07da4","name":"route request ","info":"","x":304.5,"y":88,"wires":[]},{"id":"4313623a.2155bc","type":"comment","z":"66865044.07da4","name":"process request, e.g. external service","info":"","x":537.5,"y":87,"wires":[]},{"id":"d179129d.1b52b","type":"comment","z":"66865044.07da4","name":"return response to web action and Watson Assistant","info":"","x":762,"y":342,"wires":[]},{"id":"48a563b6.560ebc","type":"function","z":"66865044.07da4","name":"form response object","func":"time = msg.payload.time;\nmsg.payload = {\n    result: \"success\",\n    message: \"Es ist jetzt \" + time,\n    time: time\n};\nreturn msg;","outputs":1,"noerr":0,"x":867,"y":128,"wires":[["a6ebe8c0.2818b8","a299e20a.9a89"]]},{"id":"1bad5b05.c72045","type":"function","z":"66865044.07da4","name":"get time","func":"var d = new Date();\nvar n = d.toLocaleTimeString();\nmsg.payload = {time: n};\nmsg.payload = {\n    result: \"success\",\n    message: \"It's \" + n + \" now\",\n    time: n\n};\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":507,"wires":[["ec17433d.8dbec"]]},{"id":"6906ca74.b4afb4","type":"http in","z":"66865044.07da4","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":120,"y":506,"wires":[["1bad5b05.c72045"]]},{"id":"ec17433d.8dbec","type":"http response","z":"66865044.07da4","name":"","statusCode":"","headers":{},"x":800,"y":507,"wires":[]},{"id":"39c56d7a.6f8792","type":"json","z":"66865044.07da4","name":"","property":"payload","action":"","pretty":false,"x":663.5,"y":129,"wires":[["48a563b6.560ebc"]]},{"id":"e3640c6d.892d8","type":"comment","z":"66865044.07da4","name":"simulation of external service","info":"","x":183,"y":463,"wires":[]},{"id":"a299e20a.9a89","type":"debug","z":"66865044.07da4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1097,"y":129,"wires":[]},{"id":"b2f78723.d0bbb8","type":"ui_template","z":"5dce6546.56326c","group":"c61c2356.009f2","name":"D3 template","order":1,"width":0,"height":0,"format":"<style>\n    #myBoxes {\n        height: 300px;\n        width: 300px;\n    }\n</style>\n\n<svg id=\"myBoxes\">\n    <!-- svg content goes here -->\n</svg>\n\n<script>\n(function(scope) { \n    // watch for msgs from node-red\n    scope.$watch('msg.payload', function(payload) {\n        drawBoxes(\"myBoxes\", payload);\n    })\n})(scope);\n\nfunction drawBoxes(id, data) {\n    var svg = d3.select(\"#\" + id);\n    var circles = svg.selectAll(\"circle\")\n        .data(data);\n\n    circles.enter()\n        .append(\"circle\");\n    \n    circles.attr(\"cx\", function(d) { return d.cx; })\n        .attr(\"cy\", function(d) { return d.cy; }) \n        .attr(\"r\", function(d) { return d.r; })\n        .style(\"fill\", function(d) { return d.color; });\n    \n    circles.exit()\n        .remove();\n}\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":776,"y":48,"wires":[["b507a5c5.ffc2f8"]]},{"id":"b507a5c5.ffc2f8","type":"ui_ui_control","z":"5dce6546.56326c","name":"ui control","x":947,"y":48,"wires":[[]]},{"id":"d6fc65a2.418cb8","type":"json","z":"5dce6546.56326c","name":"","property":"payload","action":"","pretty":false,"x":623,"y":49,"wires":[["b2f78723.d0bbb8"]]},{"id":"3d42c4a0.3bb2ac","type":"link out","z":"66865044.07da4","name":"start call request","links":["fc3d14ce.56d0d8"],"x":525,"y":186,"wires":[]},{"id":"8a44b91a.34b7e8","type":"link in","z":"5dce6546.56326c","name":"start call simulator","links":[],"x":127,"y":161,"wires":[["b9df3c83.1c567","108f375b.1e0d39","eff3b489.1d3908","e811c338.390a"]]},{"id":"eff3b489.1d3908","type":"change","z":"5dce6546.56326c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"cx\": 150, \"cy\": 150, \"r\": 140, \"color\": \"red\"}]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":423,"y":124,"wires":[["d6fc65a2.418cb8"]]},{"id":"b9df3c83.1c567","type":"http response","z":"5dce6546.56326c","name":"","statusCode":"","headers":{},"x":396,"y":191,"wires":[]},{"id":"956590ab.12c75","type":"ui_text","z":"5dce6546.56326c","group":"c61c2356.009f2","order":13,"width":0,"height":0,"name":"VIN","label":"KfZ Kennzeichen","format":"{{msg.payload}}","layout":"row-spread","x":804.5,"y":249,"wires":[]},{"id":"108f375b.1e0d39","type":"function","z":"5dce6546.56326c","name":"get VIN","func":"msg.payload =  msg.req.query.vin;\n\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":247,"wires":[["956590ab.12c75"]]},{"id":"6a037f9.403e58","type":"change","z":"5dce6546.56326c","name":"empty VIN","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":648,"y":127,"wires":[["956590ab.12c75"]]},{"id":"e811c338.390a","type":"delay","z":"5dce6546.56326c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":242.5,"y":52,"wires":[["8fa92f20.f60fe"]]},{"id":"8fa92f20.f60fe","type":"change","z":"5dce6546.56326c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"cx\": 100, \"cy\": 200, \"r\": 10, \"color\": \"white\"}]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420.5,"y":50,"wires":[["d6fc65a2.418cb8","6a037f9.403e58"]]},{"id":"58c984a7.39db6c","type":"debug","z":"b77173ab.95c43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":646.5,"y":110,"wires":[]},{"id":"ba185e2f.53aa8","type":"function","z":"b77173ab.95c43","name":"call 2 #s","func":"msg.payload = {\n    phoneNumber : msg.req.query.phoneNumber,\n    salesNumber : msg.req.query.salesNumber\n};\nmsg.headers = {\n    host : \"jpstwilioapp.eu-de.mybluemix.net\"\n};\nmsg.headers[\"content-type\"] = \"application/x-www-form-urlencoded\";\nreturn msg;","outputs":1,"noerr":0,"x":274.5,"y":112,"wires":[["e1ad53fb.fc72","81088397.cb926"]]},{"id":"81088397.cb926","type":"http request","z":"b77173ab.95c43","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://jpstwilioapp.eu-de.mybluemix.net/call","tls":"","proxy":"","authType":"basic","x":454.5,"y":112,"wires":[["58c984a7.39db6c"]]},{"id":"fc3d14ce.56d0d8","type":"link in","z":"b77173ab.95c43","name":"click-to-call","links":["3d42c4a0.3bb2ac"],"x":144.5,"y":112,"wires":[["7a8cb52f.a5f00c","ba185e2f.53aa8"]]},{"id":"3abecc53.6ef264","type":"http request","z":"b77173ab.95c43","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://f0a80eba.ngrok.io/call","tls":"","proxy":"","authType":"basic","x":440,"y":197,"wires":[[]]},{"id":"e1ad53fb.fc72","type":"debug","z":"b77173ab.95c43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":452,"y":50,"wires":[]},{"id":"7a8cb52f.a5f00c","type":"http response","z":"b77173ab.95c43","name":"","statusCode":"","headers":{},"x":251.5,"y":26,"wires":[]}]
